// EXTEND
%estilosTitulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    text-align: center;
}
%estiloText{
    font-family:cursive;
    color: rgb(58, 59, 59);
    background-color: rgb(170, 224, 83);
}